.todoItem {
  display: flex;
  align-items: center;
  width: 80%;
  background-color: rgb(224, 180, 59);
  margin: 6px 4px;
  height: 40px;
  border-radius: 12px;
}

.todoItem p {
  flex: 1;
}
.todoItem--done {
  text-decoration: line-through;
}
