.App {
  height: 100vh;
  width: 100vw;
  /* background-color: aquamarine; */
  background-image: linear-gradient(to right, #c2d6d6, #ffff66);
  display: grid;
  place-items: center;
}

.app__container {
  height: 400px;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: blanchedalmond;
  border-radius: 12px;
  padding: 32px 0px;
}
.app__todoContainer {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
